body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
}

/* HERO SECTION */

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;
    will-change:transform;
}

/* HEADLINE */

.headline{
    letter-spacing:10px;
    font-size:40px;
}

.headline span{
    display:inline-block;
    opacity:0;
    transform:translateY(40px);
}

/* STATS */

.stats{
    margin-top:20px;
}

.stat{
    opacity:0;
    margin:10px 0;
}


.image-wrapper{
    position:absolute;
    bottom:60px;
    left:50%;
    transform:translateX(-50%);
    width:400px;
    overflow:hidden;
}

.main-image{
    width:100%;
    will-change:transform;
}

/* NEXT SECTION */

.next{
    height:200vh;
    background:#222;
}
